@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';


.header{
    height: 227px;
    background: #EEEFF1;
    &__menu-items{
        display: flex;
        gap: 42px;
        
    }
    &__menu-item{
        letter-spacing: 0.1em;
        text-transform: uppercase;  
    }
    &__menu-link{
        color: $title;
    }
    &__menu-link:hover{
        color: #34547A;
    }
    ul{
        padding: 79px 0 79px 0 ;
    }
}
.design{
    margin-bottom: 112px;
    padding-bottom: 141px;
    background: #EEEFF1;
    &__title{
        font-weight: 500;
        font-size: 48px;
        line-height: 79px;
        color: $title;
        padding: 12px 0 60px 0 ;
    }
    &__text{
        max-width: 540px;
        margin-bottom: 65px;
    }
    &__link{
        display: inline-block;
        padding: 20px 40px;
        color: #fff;
        background: #34547A;
        text-align: center;
    }
}
.about{
    height: 259px;
    &__title{
        text-align: center;
        margin-bottom: 50px;
        font-weight: 500;
        font-size: 32px;
        line-height: 38px;
        color: $title;
    }
    &__text{
        margin: 0 auto;
        display: block;
        text-align: center;
        width: 540px;
    }

}
.projects{
    height: 250px;
    position: relative;
    background-color: #34547A;
    margin-bottom: 100px;
    &__items{
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 49px;
        position: relative;
        top: 100px;
        bottom: 100px;
        
    }
    &__item{
        display: flex;
        color: #fff;
        gap: 20px ;
    }
}
.how-do{
    &__title{
        text-align: center;
        margin-bottom: 50px;
        font-weight: 500;
        font-size: 32px;
        line-height: 38px;
        color: $title;
    }
    &__text{
        margin: 0 auto;
        display: block;
        text-align: center;
        width: 540px;
        margin-bottom: 57px;
    }
    &__video{
        margin-bottom: 57px;
    }
}
.footer{
    background-color: #34547A;
    height: 151px;
    &__inner{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        color: #fff;
    }
    &__title{
        padding: 50px 0 20px 0;
        font-weight: 500;
        font-size: 21px;
        line-height: 25px;
    }
    &__text{
        font-size: 13px;
        line-height: 21px;
        padding-bottom: 50px;
    }


}
